[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

[mysqli]
mysqli.default_socket = /tmp/mysql.sock

# Accept connections from any IP address
bind-address                = 0.0.0.0